{% extends 'bar.html' %}
{% load static %}
{% block content %}
    </p><h2 align="left">เลือกที่จัดเก็บสินค้า</h2> </p>
    
    <p class="fs-4">บล็อค 1-1-A</p>
    <div class="container">
        <div class="row mb-3">
          <div class="col-sm">
            ชั้นที่ 1
          </div>
          <div class="col-sm">
            น้ำหนักปัจจุบัน: <br>
            พื้นที่คงเหลือ:
          </div>
          <div class="col-sm">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
              ชั้นที่ 2
            </div>
            <div class="col-sm">
              น้ำหนักปัจจุบัน: <br>
              พื้นที่คงเหลือ:
            </div>
            <div class="col-sm">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm">
              ชั้นที่ 3
            </div>
            <div class="col-sm">
              น้ำหนักปัจจุบัน: <br>
              พื้นที่คงเหลือ:
            </div>
            <div class="col-sm">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <a class="btn btn-primary" aria-current="page" a href="http://127.0.0.1:8000/management/" >บันทึก</a>
            
          </div>
    </div>
    
    
    

{% endblock %}