{% extends 'bar.html' %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
  $('#table-his3').DataTable();
});
</script>

<script>
$(document).ready(function(){
  $('#table-his3').DataTable();
  if($("#position").val() != "manager"){
        //console.log("6555")
        $(".nav-item").each(function( index ) {
            if($(this).find("a").html() == "HR"){
                $(this).css("display","none");
            }
            console.log( $(this).find("a").html() );
        });
    }
});
</script>
<script>
$(document).ready(function(){
  $('#table-his3').DataTable();
});
</script>
{% endblock script%}

{% block content %}


<input type="hidden" value="{{ position }}" id="position">
    <div class="col-md-auto"><h1 align="center">History</h1></div>
    <div style="margin-bottom:9px;" class="btn-group">
        <a type="button" class="btn btn-secondary" a href="/history/">Movement list</a>
        <a type="button" class="btn btn-secondary" a href="/history2/">Summary</a>
        <a type="button" class="btn btn-secondary active" a href="/history3/">Delivery note</a>
    </div>
    <br>
    <table id="table-his3" class="table table-dark table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Report ID</th>
          <th scope="col">Recipient</th>
          <th scope="col">Phone number</th>
          <th scope="col">Recorder</th>
          <th scope="col">Address</th>
          <th scope="col">PDF Download</th>
        </tr>
      </thead>
      <tbody>
        {% for delivery in delivery_list %}
        <tr>
          <td>{{ delivery.date }}</td>
          <td>{{ delivery.report_id }}</td>
          <td>{{ delivery.recipient }}</td>
          <td>{{ delivery.phone_number }}</td>
          <td>{{ delivery.user_id }}</td>
          <td>{{ delivery.address }}</td>
          <td>
            <form action="/pdf/" method="post" id="systemForm">
              {% csrf_token %}
              <div class="btn-group-vertical w-75">
                <button type="submit" name="system" value={{ delivery.report_id }} form="systemForm" class="btn btn-primary btn-sm btn-block" >PDF</button>
              </div>
            </form>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>


{% endblock %}