{% extends 'bar.html' %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
  $('#table-his2').DataTable();
});
</script>

<script>
$(document).ready(function(){
  $('#table-his3').DataTable();
  if($("#position").val() != "manager"){
        //console.log("6555")
        $(".nav-item").each(function( index ) {
            if($(this).find("a").html() == "HR"){
                $(this).css("display","none");
            }
            console.log( $(this).find("a").html() );
        });
    }
});
</script>

{% endblock script%}

{% block content %}
<input type="hidden" value="{{ position }}" id="position">
    <div class="col-md-auto"><h1 align="center">History</h1></div>
    <div style="margin-bottom:9px;" class="btn-group">
        <a type="button" class="btn btn-secondary" a href="/history/">Movement list</a>
        <a type="button" class="btn btn-secondary active" a href="/history2/">Summary</a>
        <a type="button" class="btn btn-secondary" a href="/history3/">Delivery note</a>
    </div>
    <br>
    <table id="table-his2" class="table table-dark table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Product ID</th>
          <th scope="col">Name</th>
          <th scope="col">IN</th>
          <th scope="col">OUT</th> 
          <th scope="col">LOST</th>
          <th scope="col">waste</th>
          <th scope="col">Total</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        {% for summary in summary_list %}
        <tr>
          <td>{{ summary.date }}</td>
          <td>{{ summary.product_id }}</td>
          <td>{{ summary.name }}</td>
          <td>{{ summary.item_in }}</td>
          <td>{{ summary.item_out }}</td>
          <td>{{ summary.item_lost }}</td>
          <td>{{ summary.item_waste }}</td>
          <td>{{ summary.item_total }}</td>
          <td>{{ summary.note}}</td>            
        </tr>
        {%endfor%}
      </tbody>
    </table>


{% endblock %}
