{% extends 'bar.html' %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
  $('#table-his3').DataTable();
  if($("#position").val() != "manager"){
        //console.log("6555")
        $(".nav-item").each(function( index ) {
            if($(this).find("a").html() == "HR"){
                $(this).css("display","none");
            }
            console.log( $(this).find("a").html() );
        });
    }
});
</script>
{% endblock script%}

{% block content %}
    <input type="hidden" value="{{ position }}" id="position">
    <div class="col-md-auto"><br><h1 align="center">Profile</h1 ></div><br>

    <div class="row align-items-center">
        <div class="col col-lg-4">
            <img src= "{% static pic_id %}" align="right" width="200" height="250">
        </div>
        <div class="col-md-auto" >
            <h4 align="right">Name :</h4><br>
            <h4 align="Right">ID :</h4><br>
            <h4 align="Right">Position :</h4><br>
            <h4 align="Right">E-mail :</h4><br>
            <h4 align="Right">Phone Number :</h4>
        </div>
        <div class="col">
            <h4 align="Left">{{ firstname }}  {{ lastname }}</h4><br>
            <h4 align="Left">{{ id }}</h4><br>
            <h4 align="Left">{{ position }}</h4><br>
            <h4 align="Left">{{ email }}</h4><br>
            <h4 align="Left">{{ phone }}</h4>
        </div>
    </div>

{% endblock %}
